* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: rgb(231, 174, 228);
}


nav {
    background: var(--primary);
    padding: 1rem;
    margin-bottom: 20px;
    /* border-radius: 8px; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 3px solid black;
}

.New{
    color: red;
}
nav button {
    background: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}


.title{
    font-size: 5vh;
    margin: 7px;
    margin-right: 79%;
}




button {
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;

}

button:hover {
    background-color: aquamarine;
}

